@{
    // set page title variable
    var currentPageTitle = "";
    if (ViewData["Title"] != null) { // this prevents errors if ViewData not set
        currentPageTitle = ViewData["Title"].ToString();
    }
    // if ViewData["Title"] not used, try using ViewBag.Title
    if (currentPageTitle == "" && ViewBag.Title != null) { // this prevents errors if ViewBag not set
        currentPageTitle = ViewBag.Title.ToString();
    }
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "App", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- the correct nav-bar item will be active for each page -->
        <li class="nav-item @(currentPageTitle == "Register" ? "active" : "")">
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item @(currentPageTitle == "Log in" ? "active" : "")">
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}