@model ToolRentalSystem.Web.Models.Database.Tool[]

@{
    ViewBag.Title = "Tools";
}

<h3>Tools</h3>

<p>We will display an editable table of tools here.</p>

<table class="table">
    <thead>
        <tr>
            <th>Tool ID</th>
            <th>Tool Detail ID</th>
            <th>Tool Condition ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ToolId</td>
                <td>@item.ToolDetailId</td>
                <td>@item.ToolConditionId</td>
            </tr>
        }
    </tbody>
</table>